<footer>
	<div class = "container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<p>©2014 - 2018 TimberRealty, LLC</p>
				<ul>
					<li><%= link_to "About Us", {controller: "sessions", action: "about_us"} %> </li>
					<li>FAQ</li>
					<li>Contact</li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<ul class="small">
					<li>Terms of Service</li>
					<li>Privacy Policy</li>
				</ul>
			</div>
		</div>
	</div>
</footer>


